@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --yellow: #fec63d;
  --orange: #ffd263;
  --dark-blue: #232547;
  --medium-blue: #313466;
}

body {
  font-family: "Poppins", sans-serif;
  height: 6000px;
}

.container {
  position: relative;
}

/* NAV */

nav {
  position: fixed;
  z-index: 5;
  top: -5.6rem;
  width: 100%;
  background-image: linear-gradient(135deg, #fec63dfa, #ffd263fa);
  transition: top 0.3s;
  box-shadow: #00000010 0px 1px 4px 0px;
}

.menu {
  padding: 0.8rem 1.5rem;
  justify-content: space-between;
}

.menu .wa-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    var(--medium-blue),
    var(--dark-blue)
  );
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.menu .items a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  height: 3rem;
}

.items {
  display: none;
}

/* SECTION 1 */

.section1 {
  height: 812px;
  background-image: linear-gradient(135deg, var(--yellow), var(--orange));
}

.section1 .menu {
  position: relative;
  padding: 0.8rem 1.5rem;
}

.section1::before {
  content: "";
  background-image: url(./images/section1-bg.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0.08;
}

.section1 .col1 {
  padding-top: 2rem;
  margin-bottom: 1.5rem;
  height: 100%;
  padding: 0 1.5rem;
}

.section1 .txt {
  color: #fff;
}

.section1 .txt1 {
  font-weight: bold;
  font-size: 1.8rem;
}

.section1 .txt2 {
  font-size: 1.2rem;
}

.section1 .btn {
  background-image: linear-gradient(
    45deg,
    var(--medium-blue),
    var(--dark-blue)
  );
  color: #fff;
  //box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
  border-radius: 30px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  font-size: 1.4rem;
  width: 100%;
}

.section1 .col2 {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem;
}

.section1 .office-img {
  max-height: 100%;
  max-width: 100%;
}

.waves-effect {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* > MEDIUM SCREEN */
@media (min-width: 576px) {
  .items {
    display: flex;
    font-size: 0.8rem;
  }
  .menu .wa-btn {
    height: 2rem;
    width: 2rem;
  }
  .section1 .office-img {
    max-height: 95%;
    max-width: 95%;
  }
  .section1 .col1 {
    align-items: center;
    padding-top: 0;
    margin-bottom: 0;
    height: auto;
    padding-left: 2rem;
    padding-right: 0;
  }
  .section1 .col2 {
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    padding-left: 0;
  }
  .section1 .txt1 {
    font-size: 1.5rem;
  }
  .section1 .txt2 {
    font-size: 1rem;
  }
  .section1 .btn {
    padding: 0.3rem 0.8rem;
    font-size: 1rem;
    width: auto;
  }
  .section1 {
    /* padding: 0 2em; */
    height: unset;
  }
  .mobile-only {
    display: none !important;
  }
}

/*  SPECIAL FOR IPHONE 5 */
@media (min-width: 568px) and (orientation: landscape) {
  .section1 .office-img {
    max-width: 90%;
    max-height: 90%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .section1 {
    padding-bottom: 3rem;
  }
}

/* MEDIUM SCREEN LANDSCAPE*/
@media (min-width: 576px) and (orientation: landscape) {
  .section1 .office-img {
    max-width: 90%;
    max-height: 90%;
  }
  .section1 {
    height: calc(100vh + 93px);
  }
  .section1 .row {
    height: calc(100vh - 5.6rem);
  }
  .waves-effect {
    display: block;
  }
}

/* > LARGE SCREEN*/
@media (min-width: 992px) {
  .menu {
    padding: 0.8rem 4.8rem;
  }

  .logo {
    height: 3.5rem;
  }
  .section1 .menu {
    padding: 0.8rem 4.8rem;
  }
  .items {
    font-size: 1rem;
  }
  .section1 .col1 {
    padding-left: 4.8rem;
    padding-right: 0;
  }

  .section1 .col2 {
    padding-right: 4.8rem;
    padding-left: 0;
  }
  .section1 .txt1 {
    font-size: 2.4rem;
  }
  .section1 .txt2 {
    font-size: 1.2rem;
  }
  .section1 .btn {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: #fff;
}
/* Animation */
.section1 .txt {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 1024px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}

/* SECTION 2 */

.section2 {
  padding: 0 0.8rem;
  text-align: center;
}

.section2 .txt1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-blue);
}

.section2 .txt2,
.section2 .txt3 {
  font-size: 1rem;
  color: var(--medium-blue);
}

@media (min-width: 720px) {
  .section2 {
    padding: 0 1.5rem;
  }

  .section2 .txt1 {
    font-size: 1.8rem;
  }

  .section2 .txt2,
  .section2 .txt3 {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .section2 {
    padding: 0 4.8rem;
  }

  .section2 .txt1 {
    font-size: 2.4rem;
  }
}

/* SECTION 3 */
.section3 {
  background-color: #fec63d22;
}

.section3 .txt {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--dark-blue);
}

.section3 .s3card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.section3 .s3card {
  width: 90%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  cursor: default;
}

.section3 .s3card {
  .txt1 {
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.8rem;
    text-align: center;
  }
  .txt2 {
    margin-top: 0.8rem;
    color: var(--medium-blue);
    text-align: center;
  }
}

.section3 .s3card:hover {
  color: #fff;
  background-image: linear-gradient(135deg, var(--yellow), var(--orange));
  svg .fig2 {
    fill: #fff;
  }
  svg .fig1 {
    fill: #ffffff55;
  }
  .txt1,
  .txt2 {
    color: #fff;
  }
}

.section3 .s3card svg {
  width: 5rem;
  height: 5rem;
}

@media (min-width: 321px) {
  .section3 .s3card {
    .txt1 {
      font-size: 1.4rem;
    }
  }
}

@media (min-width: 992px) {
  .section3 .txt {
    font-size: 2.4rem;
  }
  .section3 .s3card {
    width: 85%;
    height: 100%;
  }
}

// SECTION 4
.section4 {
  padding: 0 1rem;
}

.section4 .img {
  width: 85%;
}

.section4 .title {
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--dark-blue);
}

.section4 .steps {
  flex-direction: column;
}

.section4 .step {
  background-color: transparent;
  perspective: 1000px;
}

.section4 .step .step-inner {
  // background-image: linear-gradient(135deg, #fec63dfa, #ffd263fa);
  box-shadow: 0px 3px 0px #fec73d;
  background-color: #fec73d8c;
  width: 100%;
  height: 5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--dark-blue);
  font-size: 0.8rem; // Cambie el fon-size porque se hacia mas pequeño
  //Animation
  transition: transform 0.5s ease-in-out;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
}

.step:hover .step-inner {
  transform: rotateX(180deg);
}

.step-content-front, .step-content-back {
  position: absolute;
  width: 80%;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.step-content-back {
  transform: rotateX(180deg);
}

.section4 .step .circle {
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.section4 .step .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.section4 .step .name  {
  text-align: left;
}

@media (min-width: 361px) {
  .section4 .step {
    font-size: 0.9rem;
  }
}

@media (min-width: 576px) {
  .section4 img {
    width: unset !important;
    max-width: 100%;
    max-height: 80%;
  }
}

@media (min-width: 992px) {
  .section4 .row {
    height: auto;
    padding: 0 4.8rem;
  }
  .section4 {
    padding: 0;
  }
  .section4 .title {
    font-size: 2.4rem;
  }
  .section4 .step .step-content-front {
    font-size: 1.2rem;
  }
}
