@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 65px;
}

.container {
  position: relative;
}

.navbar {
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 0.8em 4.8em;
}

.navbar a.nav-item {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

span.wa-btn {
  height: 35px;
  width: 35px;
  background-color: black;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-image: linear-gradient(45deg, #313466, #232547);
}

button.menu-btn:focus {
  outline: none;
}

button.menu-btn {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #232547;
  padding: 0;
}

/* SECTION 1 */

.section1 {
  background-image: linear-gradient(135deg, #fec73d, #ffa601);
  display: flex;
}

.section1::before {
  content: "";
  background-image: url(./images/section1-bg.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0.08;
}

.section1 .txt {
  color: #fff;
}

.section1 .txt1 {
  font-weight: bold;
}

.section1 .btn {
  background-image: linear-gradient(45deg, #313466, #232547);
  color: #fff;
  border-radius: 30px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

/* > SMALL SCREEN */
@media (max-width: 575px) {
  .section1 .col2 {
    justify-content: center;
    align-items: flex-start;
  }
  .navbar {
    padding: 0.5em 1.5em;
  }
  .section1 {
    padding: 75px 1.5em 0 1.5em;
  }
  .section1 {
    height: 812px;
  }
  .office-img {
    max-height: 100%;
    max-width: 100%;
  }
  .section1 .txt1 {
    font-size: 1.8em;
  }
  .section1 .txt2 {
    font-size: 1.2em;
  }
  .section1 .btn {
    padding: 0.3em 0.8em;
    font-size: 1.4em;
    width: 100%;
  }

  .section1 .col1 {
    padding-top: 2em;
  }
  .section1 .col2 {
    padding-bottom: 1.5em;
  }
}

/* > MEDIUM SCREEN */
@media (min-width: 576px) {
  .office-img {
    max-height: 90%;
    max-width: 90%;
  }
  .section1 .col1 {
    align-items: center;
  }
  .section1 .col2 {
    justify-content: flex-end;
    align-items: center;
  }
  .section1 .txt1 {
    font-size: 1.5em;
  }
  .section1 .txt2 {
    font-size: 0.8em;
  }
  .section1 .btn {
    padding: 0.3em 0.8em;
    font-size: 0.8em;
  }
  .navbar {
    padding: 0.8em 4.8em;
  }
  .section1 {
    padding: 75px 4.8em 0 4.8em;
  }
}

/* > LARGE SCREEN */
@media (min-width: 992px) and (orientation: landscape) {
  .section1 {
    height: 100vh;
  }
  .section1 .txt1 {
    font-size: 2.5em;
  }
  .section1 .row {
    height: 100%;
  }
  .section1 .txt2 {
    font-size: 1.5em;
  }
  .section1 .btn {
    padding: 0.5em 1em;
    font-size: 1.5em;
  }
}
