@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --yellow: #FEC63D;
  --orange: #FFD263;
  --dark-blue: #232547;
  --medium-blue: #313466;
}

body {
  font-family: "Poppins", sans-serif;
  height: 6000px;
}

.container {
  position: relative;
}

/* NAV */

nav {
  position: fixed;
  z-index: 5;
  top: -5.6em;
  width: 100%;
  background-image: linear-gradient(135deg, #FEC63Dfa, #FFD263fa);
  transition: top 0.3s;
  box-shadow: #00000010 0px 1px 4px 0px;
}

.menu {
  padding: 0.8em 1.5em;
  justify-content: space-between;
}

.menu .wa-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, var(--medium-blue), var(--dark-blue));
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  padding: 0.5em 1em;
}

.menu .items a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  height: 3em;
}

.items {
  display: none;
}

/* SECTION 1 */

.section1 {
  height: 812px;
  background-image: linear-gradient(135deg, var(--yellow), var(--orange));
}

.section1 .menu {
  position: relative;
  padding: 0.8em 1.5em;
}

.section1::before {
  content: "";
  background-image: url(./images/section1-bg.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0.08;
}

.section1 .col1 {
  padding-top: 2em;
  margin-bottom: 1.5em;
  height: 100%;
  padding: 0 1.5em;
}

.section1 .txt {
  color: #fff;
}

.section1 .txt1 {
  font-weight: bold;
  font-size: 1.8em;
}

.section1 .txt2 {
  font-size: 1.2em;
}

.section1 .btn {
  background-image: linear-gradient(45deg, var(--medium-blue), var(--dark-blue));
  color: #fff;
  border-radius: 30px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 0.3em 0.8em;
  font-size: 1.4em;
  width: 100%;
}

.section1 .col2 {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1.5em;
}

.section1 .office-img {
  max-height: 100%;
  max-width: 100%;
}

.waves-effect {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* > MEDIUM SCREEN */
@media (min-width: 576px) {
  .items {
    display: flex;
    font-size: 0.8em;
  }
  .menu .wa-btn {
    height: 2em;
    width: 2em;
  }
  .section1 .office-img {
    max-height: 95%;
    max-width: 95%;
  }
  .section1 .col1 {
    align-items: center;
    padding-top: 0;
    margin-bottom: 0;
    height: auto;
    padding-left: 2em;
    padding-right: 0;
  }
  .section1 .col2 {
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
    padding-left: 0;
  }
  .section1 .txt1 {
    font-size: 1.5em;
  }
  .section1 .txt2 {
    font-size: 1em;
  }
  .section1 .btn {
    padding: 0.3em 0.8em;
    font-size: 1em;
    width: auto;
  }
  .section1 {
    /* padding: 0 2em; */
    height: unset;
  }
  .mobile-only {
    display: none !important;
  }
}

/*  SPECIAL FOR IPHONE 5 */
@media (min-width: 568px) and (orientation: landscape) {
  .section1 .office-img {
    max-width: 90%;
    max-height: 90%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .section1 {
    padding-bottom: 3em;
  }
}

/* MEDIUM SCREEN LANDSCAPE*/
@media (min-width: 576px) and (orientation: landscape) {
  .section1 .office-img {
    max-width: 90%;
    max-height: 90%;
  }
  .section1 {
    height: calc(100vh + 93px);
  }
  .section1 .row {
    height: calc(100vh - 5.6em);
  }
  .waves-effect {
    display: block;
  }
}

/* > LARGE SCREEN*/
@media (min-width: 992px) {
  .menu {
    padding: 0.8em 4.8em;
  }

  .logo {
    height: 3.5em;
  }
  .section1 .menu {
    padding: 0.8em 4.8em;
  }
  .items {
    font-size: 1em;
  }
  .section1 .col1 {
    padding-left: 4.8em;
    padding-right: 0;
  }

  .section1 .col2 {
    padding-right: 4.8em;
    padding-left: 0;
  }
  .section1 .txt1 {
    font-size: 2.4em;
  }
  .section1 .txt2 {
    font-size: 1.2em;
  }
  .section1 .btn {
    padding: 0.5em 1em;
    font-size: 1.5em;
  }
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: #fff;
}
/* Animation */
.section1 .txt {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 1024px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}

/* SECTION 2 */

.section2 {
  padding: 0 0.8em;
  text-align: center;
}

.section2 .txt1 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2em;
  color: var(--dark-blue);
}

.section2 .txt2,
.section2 .txt3 {
  line-height: 1.5em;
  font-size: 1em;
  color: var(--medium-blue);
}

@media (min-width: 720px) {
  .section2 {
    padding: 0 1.5em;
  }

  .section2 .txt1 {
    font-size: 1.8em;
    line-height: unset;
  }

  .section2 .txt2,
  .section2 .txt3 {
    line-height: unset;
    font-size: 1.2em;
  }
}

@media (min-width: 992px) {
  .section2 {
    padding: 0 4.8em;
  }

  .section2 .txt1 {
    font-size: 2.4em;
    line-height: 1.4em;
  }

  .section2 .txt2,
  .section2 .txt3 {
    line-height: unset;
  }
}

/* SECTION 3 */
.section3 {
  background-color: #FEC63D22;
}

.section3 .txt {
  font-size: 1.8em;
  font-weight: bold;
  color: var(--dark-blue);
}

.section3 .s3card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.section3 .s3card {
  width: 90%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.section3 .s3card {
  .txt1 {
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 0.8em;
    text-align: center;
  }
  .txt2 {
    margin-top: 0.8em;
    color: var(--medium-blue);
    text-align: center;
  }
}

.section3 .s3card:hover {
  color: #fff;
  background-image: linear-gradient(135deg, var(--yellow), var(--orange));
  svg .fig2 {
    fill: #fff;
  }
  svg .fig1 {
    fill: #ffffff55;
  }
  .txt1,
  .txt2 {
    color: #fff;
  }
}

.section3 .s3card svg {
  width: 5em;
  height: 5em;
}

@media (min-width: 992px) {
  .section3 .txt {
    font-size: 2.4em;
  }
  .section3 .s3card {
    width: 85%;
    height: 100%;
  }
}
